body {
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    background: #bae8e1;
    color: #6f6f6f; 
}
#nav {
    font-size: 20px;
    list-style: none;
    width: 100%;
    padding: 0;
    text-align: center;
}
#nav li {
    display: inline;
    text-decoration: none;
}
#nav li a{
    margin: 0 40px 0 0;
    color: #6f6f6f;
    text-decoration: none;
}
.main {
    font-size: 60px;
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.main img {
    width: 100%;
    height: auto;
    display: block;
}
