body {
    background: #bae8e1;
    color: #5c6c6a; 
}
#nav {
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    font-size: 20px;
    list-style: none;
    width: 100%;
    padding: 0;
    text-align: center;
}
#nav li {
    display: inline;
    text-decoration: none;
}
#nav li a{
    margin: 0 20px 0 20px;
    color: #5c6c6a;
    text-decoration: none;
}
.main {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
.title {
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;    
    font-size: 50px;
    text-align: center;
}
.subtitle {
    font-family: 'Bungee Hairline', cursive; 
    font-weight: bold;    
    font-size: 18px;
    text-align: center;
}
.text {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.text a {
    color: #ff9955;
    text-decoration: none;
}
.picture {
    padding: 0;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.picture img {
    height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#social {
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    font-size: 15px;
    list-style: none;
    width: 100%;
    padding: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
#social li {
    display: inline;
    text-decoration: none;
}
#social li a{
    margin: 0 20px 0 20px;
    color: #82a29d;
    text-decoration: none;
}
#copyright {
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    font-size: 8px;
    color: #82a29d;
    padding: 0;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}
